<a href="https://colab.research.google.com/github/manasik29/DS_Python_Code/blob/main/Python_Practice24052022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Oneway Anova**

In [ ]:
#load liabraries
from sklearn import datasets
#load datasets
iris = datasets.load_iris()

In [ ]:
iris['feature_names']

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [ ]:
import pandas as pd
df = pd.DataFrame(iris.data)

In [ ]:
df.head()

     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2

In [ ]:
from scipy import stats
stats.f_oneway(df.iloc[:,0], df.iloc[:,1], df.iloc[:,2], df.iloc[:,3])

F_onewayResult(statistic=482.91531656927964, pvalue=4.660592480454751e-159)

H0 = all are same

Ha = atleast one is diff

P<alpha

hence reject H0

atleast one of them is diff

**Chi square test**

In [ ]:
from scipy.stats import chi2_contingency
  
# defining the table
data = [[207, 282, 241], [234, 242, 232]]
stat, p, dof, expected = chi2_contingency(data)
  
# interpret p-value
alpha = 0.05
print("p value is " + str(p))
if p <= alpha:
    print('Dependent (reject H0)')
else:
    print('Independent (H0 holds true)')

p value is 0.1031971404730939
Independent (H0 holds true)

In [ ]:
from scipy.stats import chi2_contingency
  
# defining the table
data = [[14,4], [0,10]]
stat, p, dof, expected = chi2_contingency(data)
  
# interpret p-value
alpha = 0.05
print("p value is " + str(p))
if p <= alpha:
    print('Dependent (reject H0)')
else:
    print('Independent (H0 holds true)')

p value is 0.0003857467556820071
Dependent (reject H0)

In [ ]:
from scipy.stats import chi2_contingency
  
# defining the table
stat, p, dof, expected = chi2_contingency(df)
  
# interpret p-value
alpha = 0.05
print("p value is " + str(p))
if p <= alpha:
    print('Dependent (reject H0)')
else:
    print('Independent (H0 holds true)')

p value is 1.0
Independent (H0 holds true)

In [ ]:
auto = pd.read_csv('/content/Automobile_data (1).csv')
auto.head()

,Unnamed: 0,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

In [45]:
auto1 = [auto.price,auto.horsepower]

In [46]:
from scipy.stats import chi2_contingency
  
# defining the table
stat, p, dof, expected = chi2_contingency(auto1)
  
# interpret p-value
alpha = 0.05
print("p value is " + str(p))
if p <= alpha:
    print('Dependent (reject H0)')
else:
    print('Independent (H0 holds true)')

p value is 8.193285712288281e-113
Dependent (reject H0)

***EDA-1***

**DATA CLEANING**