<a href="https://colab.research.google.com/github/manasik29/DS_Python_Code/blob/main/python_practice(21052022).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Probability Distribuion & Confidence Interval-1**

In [ ]:
from scipy  import stats
import pandas as pd
import numpy as np

In [ ]:
# to calculate t((1-alpha),(n-1)) where 1-alpha = .95

stats.t.ppf(.975,139)

#to calculate p value stats.t.cdf(t,(n-1))

1.977177724476122

In [51]:
#to calculate z(1-alpha), 1-alpha=.95

stats.norm.ppf(0.975)

#to calculate p value stats.norm.cdf(z)

1.959963984540054

In [ ]:
beml = pd.read_csv('/content/BEML.csv')

In [ ]:
glaxo = pd.read_csv('/content/GLAXO.csv')

In [14]:
beml = beml[['Date','Close']]
glaxo = glaxo[['Date','Close']]

In [18]:
beml = beml.set_index(pd.DatetimeIndex(beml.Date))
glaxo = glaxo.set_index(pd.DatetimeIndex(glaxo.Date))

In [22]:
beml['gain'] = beml.Close.pct_change(periods = 1)

In [23]:
glaxo['gain'] = glaxo.Close.pct_change(periods = 1)

In [24]:
beml

                  Date    Close      gain
Date
2010-01-04  2010-01-04  1135.60       NaN
2010-01-05  2010-01-05  1134.60 -0.000881
2010-01-06  2010-01-06  1139.60  0.004407
2010-01-07  2010-01-07  1144.15  0.003993
2010-01-08  2010-01-08  1144.05 -0.000087
...                ...      ...       ...
2016-12-26  2016-12-26   950.25 -0.021924
2016-12-27  2016-12-27   975.70  0.026782
2016-12-28  2016-12-28   974.40 -0.001332
2016-12-29  2016-12-29   986.05  0.011956
2016-12-30  2016-12-30  1000.60  0.014756

[1739 rows x 3 columns]

In [31]:
beml1 = beml.gain.dropna()

In [32]:
glaxo1 = glaxo.gain.dropna()

In [33]:
beml1.to_csv('/content/BEML.csv')

In [34]:
glaxo1.to_csv('/content/GLAXO.csv')

In [36]:
beml

                  Date    Close      gain
Date
2010-01-04  2010-01-04  1135.60       NaN
2010-01-05  2010-01-05  1134.60 -0.000881
2010-01-06  2010-01-06  1139.60  0.004407
2010-01-07  2010-01-07  1144.15  0.003993
2010-01-08  2010-01-08  1144.05 -0.000087
...                ...      ...       ...
2016-12-26  2016-12-26   950.25 -0.021924
2016-12-27  2016-12-27   975.70  0.026782
2016-12-28  2016-12-28   974.40 -0.001332
2016-12-29  2016-12-29   986.05  0.011956
2016-12-30  2016-12-30  1000.60  0.014756

[1739 rows x 3 columns]

In [42]:
#Get confidence interval for both datasets gain at 95%
glaxo_gain_ci = stats.norm.interval(0.95, glaxo.gain.mean(), glaxo.gain.std())
print('Gain of Glaxo at 95% confidence interval:', np.round(glaxo_gain_ci, 4))

Gain of Glaxo at 95% confidence interval: [-0.0258  0.0266]

In [40]:
beml_gain_ci = stats.norm.interval(0.95, beml.gain.mean(), beml.gain.std())
print('Gain of beml at 95% confidence interval:', np.round(beml_gain_ci,4))

Gain of beml at 95% confidence interval: [-0.0515  0.0521]

**Hypothesis Testing**

In [44]:
t=stats.t

In [50]:
print(t)

<scipy.stats._continuous_distns.t_gen object at 0x7fb2c01d8cd0>